{#
 # -------------------------------------------------------------------------
 # SCCM plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of SCCM.
 #
 # SCCM is free software; you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation; either version 3 of the License, or
 # (at your option) any later version.
 #
 # SCCM is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with SCCM. If not, see <http://www.gnu.org/licenses/>.
 # -------------------------------------------------------------------------
 # @author    François Legastelois
 # @copyright Copyright (C) 2014-2023 by SCCM plugin team.
 # @license   GPLv3 https://www.gnu.org/licenses/gpl-3.0.html
 # @link      https://github.com/pluginsGLPI/sccm
 # -------------------------------------------------------------------------
 #}

{% import "components/form/fields_macros.html.twig" as fields %}

<div class="card-body d-flex flex-wrap">
    <div class="col-12 col-xxl-{{ item_has_pictures ? '9' : '12' }} flex-column">
        <div class="d-flex flex-row flex-wrap flex-xl-nowrap">
            <div class="row flex-row align-items-start flex-grow-1">
               <div class="row flex-row">
                    {% set field_options = {'readonly': 'readonly'} %}

                    {{ fields.autoNameField(
                        'name',
                        item,
                        (item_type == 'Contact' ? __('Surname') : __('Name')),
                        withtemplate,
                        field_options
                    ) }}

                    {{ fields.dropdownField(
                        item.fields['itemtype'],
                        'items_id',
                        item.fields['items_id'],
                        item.fields['itemtype']|itemtype_name,
                        {'disabled': true}
                    ) }}

                    {{ fields.dropdownArrayField(
                        'state',
                        item.fields['state'],
                        state_list,
                        __('State'),
                        field_options
                    )}}

                    {{ fields.textareaField(
                        'error',
                        item.fields['error'],
                        __('Error'),
                        field_options
                    )}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-footer mx-n2 mb-n2 mt-4">
    {{ include('components/form/dates.html.twig') }}
</div>
